*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 25px;

}
body{
	background-image: url(../banknew1.jpg);
	background-size: cover;
	background-position: center;
	height: 700px;
}
header{
	background-color: black;
	height: 30vh;
	background-size: cover;
	background-position: center;
}
.main{
	float: right;
	margin-top: 50px;
	margin-left: 50px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: underline;
	text-size: 20px;
	color: #fff;
	padding:  5px 20px;
	border: 5px solid #fff;
	transform: 0.6 ease;
}
ul li a:hover{
	background-color: #fff;
	color: black;
}
.name{
	position: absolute;
	top: 20%;
	left: 20%;
	transform: translate(-50%,-50%);
}
.name h1{
	color: #fff;
	font-size: 70px;
	text-decoration: underline;
}
.sub{
	display: inline-block;
	position: absolute;
	top: 70%;
	left: 30%;
	transform: translate(-50%,-50%);
	background-image: url(../customernew.jpg);
	border-image: blue;
	height: 300px;
	width: 350px;
	background-position: center;

}
.sub h1 a{
	color: skyblue;
	font-size: 30px;
	position: absolute;
	
}
.suber{
	display: inline-block;
	position: absolute;
	top: 70%;
	left: 70%;
	transform: translate(-50%,-50%);
	background-image: url(../Transfernew.jpg);
	height: 300px;
	width: 350px;
	background-position: center;
}
.suber h1 a{
	color: #fff;
	font-size: 30px;
}

